<!--<p id="notice"><%= notice %></p>-->

<h1>Posts</h1>

<section>
  <% @posts.each do |post| %>
  <article>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <% if user_signed_in? %>
    <span>written By <%= post.user.name %></span>
    <% end %>
  </article>
  <% end %>
</section><br>

<%= link_to 'New Post', new_post_path %>
